@font-face {
  font-family: "Amagro Bold";
  src: url("./font/amagro.ttf");
}

body {
  margin: 0px;
  background-color: #3c3b4d;
  font-size: 20px;
  font-family: 'Amagro Bold', sans-serif;
}

.nav_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 23vw;
  padding: 15px;
}

.nav_bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 1.3em;
  background-color: #2F6073;
}

.nav_bar a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

.nav_bar a:hover {
  background-color: #6997BF;
  color: black;
}

.nav_bar a.active {
  background-color: #6997BF;
  color: white;
}

.nav_bar .icon {
  display: none;
}

.background_image {
  display: flex;
  justify-content: center;
}

.background_image img {
  max-width: 70vw;
}

.library_background {
  background-image: url("./image/library_background.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.library_background img {
  width: 100vw;
}

.music_player {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.music_player_img {
  width: 100vw;
}

.rank_page_menu {
  background-color: #3c3b4d;
}

.rank_page {
  display: flex;
}

.rank_wheel {
  min-width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.rank_wheel img {
  z-index: -1;
}

.rank_wheel img {
  -webkit-animation:spin 150s linear infinite;
  -moz-animation:spin 150s linear infinite;
  animation:spin 150s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.control_panel {
  min-width: 20%;
  height: 100vh;
  background-color: white;
  /*display: flex;*/
  justify-content: center;
  display: none;
}

.play_page {
  display: flex;
  background-color: #fff5eb;
}

.cd_disk {
  width: 50vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cd_disk img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
}

.lyrics {
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.sentence {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.sentence p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

.strong_text {
  font-weight: bold;
  font-size: 1em;
}

.weakest_text {
  color: rgba(0, 0, 0, 0.2);
}

.weak_text {
  color: rgba(0, 0, 0, 0.4);
}

.lyrics_speaker_img {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lyrics_speaker_img img {
  width: auto;
  max-height: 100%;
}

/* for mobile 
@media only screen and (max-width: 600px) {
  .nav_bar {display: inline;}
  .nav_bar a { display: none; }
  .nav_bar a.icon {
    float: right;
    display: block;
    margin-right: 40px;
  }

  .nav_img {
    display: none;
  }

  .nav_bar_separator {
    display: none;
  }

  .background_image {
    display: none;
  }

  .music_player {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav_bar.responsive {position: relative;}
  .nav_bar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav_bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
*/
